#projects {
  display: flex; /* This sets the container to use flexbox */
  flex-wrap: wrap; /* Allows flex items to wrap to a new line if necessary */
  justify-content: center; /* Distributes flex items with equal space between them */
}
.disabled {
  pointer-events: none;
}

.Project-img{
  width: 3em;
  height: 3em;
  max-width: auto; /* Para asegurarte de que la imagen no exceda el ancho del contenedor */
  max-height: auto; /* Para asegurarte de que la imagen no exceda el ancho del contenedor */
}