.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

.nalo {
  background-image: linear-gradient(
    to right,
    rgb(15, 202, 44),
    rgb(68, 175, 254)
  );
}

.nalo-words {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to right,
    rgb(15, 202, 44),
    rgb(68, 175, 254)
  );
  position: relative; /* Set position to relative */
  z-index: 1; /* Ensure the button is above other elements */
}

.section-title {
  text-transform: uppercase;
  margin: 0 0 4.5rem;
  font-size: 3rem;
  font-weight: 700;
}
.centrado {
  max-width: 1305px; /* Adjust the max-width value as needed */
  margin: 0 auto;
}

.contentApp {
  flex: 1; /* Make the content div take the remaining vertical space */
  height: 100vh; /* Set the height to 100% */

}
