.about-section {
  padding-top: 6rem;
  padding-bottom: 2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.section-title-about {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.contenedor-TotalAbout {
  display: flex;
  gap: 5rem;
}

.phone {
  display: none;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-img-container {
  width: 40%;
  display: flex;
  /* justify-content: center; */
}

.about-img {
  border-radius: 0.5%;
  width: 100%;
  max-width: 100%; /* Para asegurarte de que la imagen no exceda el ancho del contenedor */
  height: auto;
  max-width: 600px;
  object-position: center;
  object-fit: cover;
  margin-bottom: 0rem;
}

.about-content {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; /* Add this line to center the element */
}

.about-title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

/* ! PHONE */
@media only screen and (max-width: 400px) {
  .contenedor-TotalAbout {
    padding-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: initial;
  }
  .about-img-container {
    width: 80%;
  }

  .about-img-inside p {
    font-size: 0.62rem;
    font-weight: 600;
    max-width: 30rem;
  }

  .about-img {
    width: 100%;
    max-width: 100%; /* Para asegurarte de que la imagen no exceda el ancho del contenedor */
    height: auto;
    max-width: 600px;
    margin-bottom: 0rem;
  }

  .section-title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .about-section {
    padding: 3rem 0;
  }

  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
  }
  .about-content p {
    font-size: 0.8rem;
  }
  .pc {
    display: none;
  }
  .phone {
    display: block;
    margin-top: 0;
  }
}

@media only screen and (min-width: 401px) and (max-width: 900px) {
  .about-content p {
    font-size: 0.9rem;
  }

  .about-img {
    padding-top: 1rem;
    width: 80%;
    max-width: 100%; /* Para asegurarte de que la imagen no exceda el ancho del contenedor */
    height: auto;
    max-width: 600px;
    margin-bottom: 0rem;
  }

  .about-img-inside p {
    font-size: 0.8rem;
    font-weight: 500;
    max-width: 30rem;
  }
}
