#hero {
  align-items: center;
  display: block;
  text-align: left;
  height: 100vh;
}
#hero2 {
  height: 80vh;
  color: #272341;
  background: #fff;
  align-items: center;
  font-weight: 400;
  width: 100%;
}

.Texto {
  font-size: 3em;
}

.skills-mainfront {
  display: flex;
}

.icons {
  margin: 1%;
  border-radius: 35%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.profile-img {
  width: 70%;
  max-width: 100%; /* Para asegurarte de que la imagen no exceda el ancho del contenedor */
  height: auto;
  max-width: 600px;
  border-radius: 1%;
}
.mainfront {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.homebuttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

/*  f3 b shadow-3 pa3 grow */
.KnowMeBttn {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 0;
  max-width: 90vw;
}

@media only screen and (max-width: 400px) {
  #hero {
    padding-top: 1.5rem;
    min-height: 100vh;
  }
  .Texto {
    /* background-color: aqua; */
    font-size: 1.55em;
    line-height: 1.55;
    text-align: center;
    margin-bottom: 1em;
  }
  .skills-mainfront {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .homebuttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 95vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1000px) {
  #hero {
    display: block;
    width: 100vw;
  }

  #hero2 {
    height: 70vh;
    color: #272341;
    background: #fff;
    align-items: center;
    font-weight: 400;
    width: 100%;
  }

  .Texto {
    /* background-color: aqua; */
    font-size: 1.75em;
    text-align: center;
    width: auto;
  }
  .skills-mainfront {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .profile {
    width: 50%;
    max-height: auto;
  }

  .profile-img {
    width: 60%;
    max-width: 100%; /* Para asegurarte de que la imagen no exceda el ancho del contenedor */
    height: auto;
    max-width: 600px;
    border-radius: 1%;
  }

  .KnowMeBttn {
    width: fit-content;
    font-size: 1em;
  }


  .homebuttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
