.NavBar .List {
  box-sizing: border-box;
  height: 8.5%;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  /* padding: 0; */
  overflow: hidden;
  /* background-color: lightgoldenrodyellow; */
  padding: 16px 20px 20px 20px;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  z-index: 1000; /* Set a high z-index value */
}

.NavBar li {
  float: left;
}

.NavBar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}

.NavBar li a:hover:not(.active) {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 0%;
}

.NavBar .active {
  border-radius: 0%;
  padding: 1em 2em 1em 2em;
}

.NavBar .active:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 0%;
}

.NavBar .ContactItem {
  float: right;
  /* Add any additional styles you want for the "Contact" list item here */
}

@media only screen and (max-width: 400px) {

    .NavBar .List {
    display: flex; /* Use flexbox for ordering */
    flex-direction: row; /* Stack items vertically */
    
    font-size: 0.75rem;
  }

  .NavBar .ContactItem {
    float: none;
    background-color: beige;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 1000px) {
}
