.NavBar ul {
  box-sizing: border-box;
  height: 8.5%;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  /* padding: 0; */
  overflow: hidden;
  /* background-color: lightgoldenrodyellow; */
  padding: 16px 20px 20px 20px;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  z-index: 1000; /* Set a high z-index value */
}

.NavBar li {
  float: left;
}

.NavBar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}

.NavBar li a:hover:not(.active) {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 0%;
}

.NavBar .active {
  border-radius: 0%;
  padding: 1em 2em 1em 2em;
}

.NavBar .active:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 0%;
}

@media only screen and (max-width: 400px) {
  .NavBar ul {
    box-sizing: border-box;
    height: 8.5%;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    /* padding: 0; */
    overflow: hidden;
    /* background-color: lightgoldenrodyellow; */
    padding: 16px 20px 20px 20px;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
    z-index: 1000; /* Set a high z-index value */
  }
  
  .NavBar li {
    float: left;
  }
  
  .NavBar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
  }
  
  .NavBar li a:hover:not(.active) {
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0%;
  }
  
  .NavBar .active {
    border-radius: 0%;
    padding: 1em 2em 1em 2em;
  }
  
  .NavBar .active:hover {
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0%;
  }
}

@media only screen and (min-width: 401px) and (max-width: 1000px) {
  #hero {
    display: block;
    width: 100vw;
  }

  #hero2 {
    height: 70vh;
    color: #272341;
    background: #fff;
    align-items: center;
    font-weight: 400;
    width: 100%;
  }

  .Texto {
    /* background-color: aqua; */
    font-size: 1.75em;
    text-align: center;
    width: auto;
  }
  .skills-mainfront {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .profile {
    width: 50%;
    max-height: auto;
  }

  .profile-img {
    width: 60%;
    max-width: 100%; /* Para asegurarte de que la imagen no exceda el ancho del contenedor */
    height: auto;
    max-width: 600px;
    border-radius: 1%;
  }

  .KnowMeBttn {
    width: fit-content;
    font-size: 1em;
  }
}
