.footer{
    background-color: #333;
}

.footer hr {
    width: 50%;
    border: 0;
    border-top: 2px solid gray;
    margin: 1rem auto;  
}
/* In your CSS file or styles section */
.social-icons-wrapper {
    display: flex; /* Use flexbox to align buttons horizontally */
    gap: 15px; /* This sets the space between each button to 10 pixels, adjust as needed */
    justify-content: center;
}
  