.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nalo {
  background-image: linear-gradient(to right, rgb(15, 202, 44), rgb(68, 175, 254))
  ;
}

.nalo-words {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgb(15, 202, 44), rgb(68, 175, 254));
}

.pj-SB {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgb(231, 95, 51), rgb(12, 155, 150));
}

.pj-EC {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgb(147, 249, 148), rgb(87, 0, 245));
}
.pj-LG {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgb(238, 87, 42), rgb(97, 169, 250));
}
.pj-RF {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg,#142352,#10d991);
}

.section-title {
  text-transform: uppercase;
  margin: 0 0 4.5rem;
  font-size: 3rem;
  font-weight: 700;
}
.centrado {
  max-width: 1305px; /* Adjust the max-width value as needed */
  margin: 0 auto; 
}

